{% extends 'paginas/modelo.html' %}

{% load static %}




    {% block conteudo %}

            <h2 class="text-primary border-bottom pb-2 pt-4"> Pagina Inicial </h2>
            <div class="row bg-info p-3 mb-2">
                <div class="col-12"> Projeto de Noticias do Instituto Federal do Paraná no campus de paranavaí </div>
            </div>
            <p class="solid">  </p>
            <h3>Diagrama Casos de Uso</h3>
            <img src="{% static 'img/Diagrama-de-caso-de-uso.jpg'%}" width="700" alt="">
            <h3>Diagrama Classes</h3>
            <img src="{% static 'img/Diagrama-De-Classes.jpg'%}" width="700" alt="">
            <br>
            <br>

    {% endblock %}
      