{% extends 'paginas/modelo.html'%}

{% load static %}


{% block conteudo %}
    <h1>Descrição do projeto</h1><br>
    <p>
        Este projeto tem o intuito de desenvolver um site de notícias do Instituto Federal do Paraná (IFPR), apenas para alunos receberem as informações, as pessoas que terão acesso para dar as notícias são servidores da instituição e alunos do grêmio estudantil do instituto, sendo assim manterá os alunos informados e também contribuirá em algumas formas com os alunos da instituição, a ideia do site também é para que os alunos possam fazer inscrições para os eventos ou situações que são necessárias o cadastro do aluno para que recebam horas e sendo assim os alunos também podem receber os seus certificados sem precisar pagar, um outro planejamento é para que os alunos possam opinar no site sobre o que eles acharam de tal informação, mas caso ocorra um comentário indesejado ele pode ser denunciado
    </p>
{% endblock %}

{% block rodape %}
 Ve as fofoca do if ae com a gente
{% endblock %}

